<!-- eslint-disable vue/require-default-prop -->
<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>
<!-- 发电堆叠柱状图 -->
<script>
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from './mixins/resize'

export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '400px'
    },
    chartData: {
      type: Object,
      default() {
        return {
          date: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
          data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6]
        }
      }
    }
  },
  data() {
    return {
      chart: null
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')

      this.chart.setOption({
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            crossStyle: {
              color: '#999'
            }
          }
        },
        toolbox: {
          feature: {
            dataView: { show: true, readOnly: false },
            magicType: { show: true, type: ['line', 'bar'] },
            restore: { show: true },
            saveAsImage: { show: true }
          }
        },
        legend: {
          data: ['太阳能发电']
        },
        xAxis: [
          {
            type: 'category',
            data: this.chartData.date,
            axisPointer: {
              type: 'shadow'
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: '太阳能发电量',
            interval: 50,
            axisLabel: {
              formatter: '{value} W'
            }
          }
        ],
        series: [
          {
            name: '太阳能发电',
            type: 'bar',
            tooltip: {
              valueFormatter: (value) => value + ' ml'
            },
            data: this.chartData.data
          }
        ]
      })
    }
  }
}
</script>
