<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from './mixins/resize'

export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '350px'
    },
    autoResize: {
      type: Boolean,
      default: true
    },
    chartData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      chart: null
    }
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        this.setOptions(val)
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
      this.setOptions(this.chartData)
    },
    setOptions({ expectedData, actualData } = {}) {
      this.chart.setOption({
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {},
        toolbox: {
          show: true,
          feature: {
            saveAsImage: {}
          }
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: [
          {
            name: '日期',
            type: 'category',
            data: [...Array(31).keys()].map(k => k + 1)
          }
        ],
        yAxis: [
          {
            name: '用水量/吨',
            type: 'value'
          }
        ],
        series: [
          {
            name: '冷水',
            type: 'bar',
            stack: 'Water',
            emphasis: {
              focus: 'series'
            },
            data: this.chartData.cold
          },
          {
            name: '热水',
            type: 'bar',
            stack: 'Water',
            emphasis: {
              focus: 'series'
            },
            data: this.chartData.hot
          },
          {
            name: '商户用水',
            type: 'bar',
            stack: 'Water',
            emphasis: {
              focus: 'series'
            },
            data: this.chartData.shop
          }
        ]
      })
    }
  }
}
</script>
