<template>
  <div class="container">
    <el-row :gutter="32">
      <el-col :md="12" :lg="8">
        <mj />
      </el-col>
      <el-col :md="12" :lg="15">
        <window />
      </el-col>
    </el-row>
  </div>
</template>
<script>
import mj from './component/mj'
import window from './component/window'
export default {
  components: { mj, window }
}
</script>
<style lang="scss">
.container {
  padding: 32px
}
</style>
