<template>
  <el-dialog
    title="请选择品种"
    :visible.sync="dialogVisible"
    width="35%"
  >
    <el-table
      :data="co2.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
      style="width: 100%"
      max-height="250"
    >
      <el-table-column
        fixed
        prop="name"
        label="名称"
        width="150"
      />1
      <el-table-column
        prop="co2e"
        label="碳排放因子"
      />
      <el-table-column
        fixed="right"
        label="操作"
      >
        <template slot="header" slot-scope="scope">
          <el-input
            v-model="search"
            size="mini"
            placeholder="输入关键字搜索"/>
        </template>
        <template slot-scope="data">
          <el-button
            type="text"
            size="small"
            @click.native.prevent="updateData(data)"
          >
            使用
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <span slot="footer" class="dialog-footer">
      <el-button @click="close">取 消</el-button>
      <el-button type="primary" @click="close">确 定</el-button>
    </span>
  </el-dialog>
</template>
<script>
import co2Type from '@/utils/co2type'
export default {
  props: {
    dialogVisible: {
      type: Boolean,
      default: false
    },
    row: {
      type: Object,
      default() {
        return {}
      }
    },
    rowIndex: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      co2: '',
      search: ''
    }
  },
  created() {
    this.co2 = co2Type.type
  },
  methods: {
    close() {
      this.$emit('close')
    },
    updateData(data) {
      data.row.index = this.rowIndex
      this.$emit('updateRow', this.row, data.row)
    }
  }
}
</script>
<style lang="scss">

</style>
