<template>
  <el-card>
    <div slot="header">
      <el-input v-model="title" placeholder="请输入标题" style="max-width: 30%;" />
      <el-button style="float: right; padding: 3px 0" size="medium" type="text" @click="deleteSelf">删除类别</el-button>
    </div>
    <el-table :data="tableData" border show-summary :summary-method="getSummaries">
      <el-table-column label="序号" width="100">
        <template slot-scope="scope">
          <el-button type="danger" size="mini" icon="el-icon-circle-close" @click="handleDelete(scope, scope.$index)" />
          <span style="margin-left: 10px">{{ scope.$index + 1 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="燃料品种" width="200">
        <template slot-scope="scope">
          <el-input v-model="scope.row.name" />
        </template>
      </el-table-column>
      <el-table-column label="消耗量" width="200">
        <template slot-scope="scope">
          <el-input v-model="scope.row.used" @input="changeSum(scope)" />
        </template>
      </el-table-column>
      <el-table-column label="单位" width="200">
        <template slot-scope="scope">
          <el-input :value="scope.row.unit == null ? 'kg' : scope.row.unit" />
        </template>
      </el-table-column>
      <el-table-column label="碳排放因子(KgCo2e/用量)" width="240">
        <template slot-scope="scope">
          <el-input v-model="scope.row.co2e" style="width: 130px; padding-right: 4px;" @input="changeSum(scope)" />
          <el-button type="primary" @click="openDiaLog(scope.row)">选择</el-button>

        </template>
      </el-table-column>
      <el-table-column label="碳排放量(kgCO2e)" width="200">
        <template slot-scope="scope">
          <el-input v-model="scope.row.sum" />
        </template>
      </el-table-column>
    </el-table>

    <div style="margin-top: 20px">
      <el-button icon="el-icon-plus" @click="tableData.push({ name: '', used: 0, co2e: 0, sum: 0 })">添加行</el-button>
    </div>

    <co2-dialog :dialog-visible="dialogVisible" :row="rowData" @close="dialogVisible = false" @updateRow="updateData" />
  </el-card>
</template>
<script>
import co2Dialog from './co2eDialog'

export default {
  components: { co2Dialog },
  props: {
    tableData: {
      type: Array,
      default() {
        return []
      }
    },
    rowIndex: {
      type: Number,
      default: 0
    },
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      dialogVisible: false,
      rowData: {}
    }
  },
  methods: {
    openDiaLog(row) {
      this.dialogVisible = true
      this.rowData = row
    },
    changeSum(scope) {
      scope.row.sum = parseFloat((parseFloat(scope.row.used) * scope.row.co2e).toFixed(2))
    },
    deleteSelf() {
      this.$parent.$parent.$parent.tableData.splice(this.rowIndex, 1)
    },
    handleDelete(row, index) {
      this.$notify({
        title: 'Success',
        message: '成功删除数据！',
        type: 'success',
        duration: 2000
      })
      this.tableData.splice(index, 1)
    },
    updateData(row, data) {
      row.name = data.name
      row.co2e = data.co2e
      row.unit = data.uni
      this.dialogVisible = false
    },
    getSum() {
      return this.tableData.filter(k => k.sum !== undefined).reduce((acc, current) => current.sum + acc, 0).toFixed(2)
    },
    getSummaries() {
      return ['合计', '', '', '', '', this.getSum()]
    }
  }
}
</script>
<style lang="scss">

</style>
