<template>
  <el-card>
    <div slot="header">
      <el-input v-model="title" placeholder="请输入标题" style="max-width: 30%;" />
      <el-button style="float: right; padding: 3px 0" size="medium" type="text" @click="deleteSelf">删除类别</el-button>
    </div>
    <el-table :data="tableData" border show-summary :summary-method="getSummaries">
      <el-table-column label="序号" width="100">
        <template slot-scope="scope">
          <el-button type="danger" size="mini" icon="el-icon-circle-close" @click="handleDelete(scope, scope.$index)" />
          <span style="margin-left: 10px">{{ scope.$index + 1 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="设备名称" width="200">
        <template slot-scope="scope">
          <el-input v-model="scope.row.name" />
        </template>
      </el-table-column>
      <el-table-column label="消耗柴油量(kg)" width="120">
        <template slot-scope="scope">
          <el-input v-model="scope.row.diesel" @input="changeSum(scope)" />
        </template>
      </el-table-column>
      <el-table-column label="柴油碳排放因子(kgCo2e/kg)" width="300">
        <template slot-scope="scope">
          <el-input v-model="scope.row.dieselco2e" style="width: 130px; padding-right: 4px;" @input="changeSum(scope)" />
          <el-button type="primary" @click="openDialog(scope.row)">选择</el-button>
        </template>
      </el-table-column>
      <el-table-column label="消耗汽油量(kg)" width="120">
        <template slot-scope="scope">
          <el-input v-model="scope.row.gas" @input="changeSum(scope)" />
        </template>
      </el-table-column>
      <el-table-column label="汽油碳排放因子(KgCo2e/用量)" width="300">
        <template slot-scope="scope">
          <el-input v-model="scope.row.gasco2e" style="width: 130px; padding-right: 4px;" @input="changeSum(scope)" />
          <el-button type="primary" @click="openDialogGas(scope.row)">选择</el-button>
        </template>
      </el-table-column>
      <el-table-column label="碳排放量(kgCO2e)" width="200">
        <template slot-scope="scope">
          <el-input v-model="scope.row.sum" />
        </template>
      </el-table-column>
    </el-table>

    <div style="margin-top: 20px">
      <el-button icon="el-icon-plus" @click="tableData.push({ name: '', used: 0, co2e: 0, sum: 0 })">添加行</el-button>
    </div>

    <co2-dialog :row-index="0" :dialog-visible="dialogVisible" :row="rowData" @close="dialogVisible = false" @updateRow="updateData" />
    <co2-dialog :row-index="1" :dialog-visible="gasVisible" :row="rowData" @close="gasVisible = false" @updateRow="updateData" />
  </el-card>
</template>
<script>
import co2Dialog from './co2eDialog'

export default {
  components: { co2Dialog },
  props: {
    tableData: {
      type: Array,
      default() {
        return []
      }
    },
    rowIndex: {
      type: Number,
      default: 0
    },
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      dialogVisible: false,
      gasVisible: false,
      rowData: {}
    }
  },
  methods: {
    openDialog(row) {
      this.dialogVisible = true
      this.rowData = row
    },
    openDialogGas(row) {
      this.gasVisible = true
      this.rowData = row
    },
    changeSum(scope) {
      let diesel = 0
      let gas = 0
      if (scope.row.gas !== undefined && scope.row.gasco2e !== null) {
        gas = parseFloat(scope.row.gas) * scope.row.gasco2e
      }
      if (scope.row.diesel !== undefined && scope.row.dieselco2e != null) {
        diesel = parseFloat(scope.row.diesel) * scope.row.dieselco2e
      }
      scope.row.sum = parseFloat(parseFloat(diesel + gas).toFixed(2))
    },
    deleteSelf() {
      this.$parent.show = false
    },
    handleDelete(row, index) {
      this.$notify({
        title: 'Success',
        message: '成功删除数据！',
        type: 'success',
        duration: 2000
      })
      this.tableData.splice(index, 1)
    },
    updateData(row, data) {
      if (data.index === 1) {
        row.gasco2e = data.co2e
      } else {
        row.dieselco2e = data.co2e
      }
      this.dialogVisible = false
      this.gasVisible = false
    },
    getSum() {
      return this.tableData.filter(k => k.sum !== undefined).reduce((acc, current) => current.sum + acc, 0).toFixed(2)
    },
    getSummaries() {
      return ['合计', '', '', '', '', '', this.getSum()]
    }
  }
}
</script>
<style lang="scss">

</style>
