<template>
  <el-card shadow="hover">
    <div slot="header">
      窗墙面积比计算
      <el-button style="float: right; padding: 3px 0" type="text">东西标准为3.0 南北为4.0</el-button>
    </div>
    <el-table :data="nswe" border show-summary :summary-method="getSummaries" max-height="500">
      <el-table-column label="朝向">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column label="外窗面积(m2)" prop="window">
        <template slot-scope="scope">
          <el-input v-model="scope.row.window" />
        </template>
      </el-table-column>
      <el-table-column label="朝向面积(m2)" prop="mianji">
        <template slot-scope="scope">
          <el-input v-model="scope.row.mianji" />
        </template>
      </el-table-column>
      <el-table-column label="朝向窗墙比">
        <template slot-scope="scope">
          <span :style="isOk(scope.row) ? 'color: green' : 'color: red'">
            {{ (scope.row.window / scope.row.mianji).toFixed(2) }}
            <i v-if="isOk(scope.row)" class="el-icon-success" />
            <i v-else class="el-icon-error" />
          </span>
        </template>
      </el-table-column>
    </el-table>
  </el-card>
</template>
<script>
export default {
  data() {
    return {
      nswe: [
        { name: '东', window: 0, mianji: 0 },
        { name: '南', window: 0, mianji: 0 },
        { name: '西', window: 0, mianji: 0 },
        { name: '北', window: 0, mianji: 0 }
      ]
    }
  },
  methods: {
    isOk(row) {
      const s = row.window / row.mianji
      if (row.name === '东' || row.name === '西') {
        return s <= 0.30
      }
      return s <= 0.40 // 南和北
    },
    getSum(datas) {
      return datas.filter(k => k.sum !== undefined).reduce((acc, current) => current.sum + acc, 0).toFixed(2)
    },
    getSummaries() {
      const wSum = this.nswe.reduce((acc, current) => parseFloat(current.window) + acc, 0)
      const mSum = this.nswe.reduce((acc, current) => parseFloat(current.mianji) + acc, 0)
      const sum = this.nswe.filter(k => k.window !== 0 || k.mianji !== 0).reduce((acc, current) => (parseFloat(current.window) / parseFloat(current.mianji)) + acc, 0)
      return ['合计', wSum, mSum, sum.toFixed(2)]
    }
  }
}
</script>
<style lang="scss">

</style>
