<template>
  <el-card shadow="hover">
    <div slot="header">
      工程门窗
      <el-button style="float: right; padding: 3px 0;" type="text" @click="nswe.push({})">添加行</el-button>
    </div>
    <el-table
      :data="nswe"
      border
      show-summary
      :summary-method="getSummaries"
      max-height="500"
    >
      <el-table-column label="朝向">
        <template slot-scope="scope">
          <el-input v-model="scope.row.direct" />
        </template>
      </el-table-column>
      <el-table-column label="编号">
        <template slot-scope="scope">
          <el-input v-model="scope.row.name" />
        </template>
      </el-table-column>
      <el-table-column label="尺寸" width="170">
        <template slot-scope="scope">
          <el-input v-model="scope.row.size" />
        </template>
      </el-table-column>
      <el-table-column label="楼层" width="150">
        <template slot-scope="scope">
          <el-input v-model="scope.row.floor" />
        </template>
      </el-table-column>
      <el-table-column label="数量(个)">
        <template slot-scope="scope">
          <el-input v-model="scope.row.count" />
        </template>
      </el-table-column>
      <el-table-column label="单个面积m2">
        <template slot-scope="scope">
          <el-input v-model="scope.row.mianji" />
        </template>
      </el-table-column>
      <el-table-column label="合计面积m2">
        <template slot-scope="scope">
          {{ scope.row.mianji * scope.row.count }}
        </template>
      </el-table-column>
      <el-table-column label="总尺寸">
        <template slot-scope="scope">
          {{ ee(scope.row.size) }}
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="120"
      >
        <template slot-scope="scope">
          <el-button
            type="text"
            size="small"
            @click.native.prevent="handleDelete(scope, scope.$index)"
          >
            移除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </el-card>
</template>
<script>
export default {
  data() {
    return {
      nswe: [
        { direct: '东', name: 'C1642', size: '1600.00 * 4150.00', floor: '地上1层', count: 1, mianji: 6.64 },
        { direct: '东', name: 'C01642', size: '1600.00 * 4200.00', floor: '地上2-5层', count: 4, mianji: 26.88 },
        { direct: '南', name: 'C01642', size: '2500.00 * 2450.00', floor: '地上1层', count: 10, mianji: 61.25 },
        { direct: '西', name: 'C1642', size: '1500.00 * 2400.00', floor: '地上1层', count: 9, mianji: 7.20 },
        { direct: '北', name: 'M1124', size: '1100.00 * 2400.00', floor: '地上1层', count: 2, mianji: 6.64 }
      ]
    }
  },
  methods: {
    isOk(row) {
      const s = row.window / row.mianji
      if (row.name === '东' || row.name === '西') {
        return s <= 0.30
      }
      return s <= 0.40 // 南和北
    },
    getSum(datas) {
      return datas.filter(k => k.sum !== undefined).reduce((acc, current) => current.sum + acc, 0).toFixed(2)
    },
    getSummaries() {
      const wSum = this.nswe.filter(k => k.count !== undefined).reduce((acc, current) => parseFloat(current.count) + acc, 0)
      const mSum = this.nswe.filter(k => k.mianji !== undefined).reduce((acc, current) => parseFloat(current.mianji) + acc, 0)
      const sum = this.nswe.filter(k => k.window !== 0 || k.mianji !== 0).reduce((acc, current) => (parseFloat(current.count) * parseFloat(current.mianji)) + acc, 0)
      return ['合计', '', '', '', wSum, mSum, sum.toFixed(2)]
    },
    ee(s) {
      if (s === undefined) return 0
      try {
        const arr = s.split('*')
        return arr[0] * arr[1]
      } catch (e) {
        return 0
      }
    },
    handleDelete(row, index) {
      this.nswe.splice(index, 1)
    }
  }
}
</script>
<style lang="scss">

</style>
