<template>
  <div class="dashboard-editor-container">
    <div>
      <vue-core-video-player :src="require('@/assets/qq.mp4')" :autoplay="false" style="height: 600px;width: 100%;" />
    </div>
    <panel-group ref="group" @handleSetLineChartData="handleSetLineChartData" />
    <el-row style="background:#fff;padding:16px 16px 0;margin-bottom:32px;">
      <generate-bar v-if="type=='messages'" :chart-data="generateData" />
      <water-bar-chart v-else-if="type=='purchases'" :chart-data="waterData" />
      <co2-line-chart v-else-if="type=='shoppings'" :chart-data="co2Data" />
      <electricity-line v-else />
    </el-row>
  </div>
</template>

<script>
import PanelGroup from './components/PanelGroup'
import WaterBarChart from './components/WaterBarChart'
import Co2LineChart from './components/Co2LineChart'
import ElectricityLine from './components/ElectricityLine'
import GenerateBar from './components/GenerateBar'

import { generate, co2, water } from '@/api/generate'
export default {
  name: 'DashboardAdmin',
  components: {
    PanelGroup,
    WaterBarChart,
    Co2LineChart,
    ElectricityLine,
    GenerateBar
  },
  data() {
    return {
      generateData: {},
      co2Data: [],
      waterData: [],
      type: ''
    }
  },
  created() {
    generate().then(response => {
      this.generateData = response.data
      this.$refs.group.generate = response.data.data.reduce((prev, current) => prev + current)
    })
    water().then(response => {
      this.waterData = response.data
      const sum = Object.values(this.waterData).map(sub => sub.reduce((acc, current) => acc + current, 0)).reduce((acc, current) => acc + current, 0)
      this.$refs.group.waterSum = sum
    })
    co2().then(response => {
      this.co2Data = response.data
      const sum = Object.values(this.co2Data).map(sub => sub.reduce((acc, current) => acc + current, 0)).reduce((acc, current) => acc + current, 0)
      this.$refs.group.co2Sum = sum
    })
  },
  methods: {
    handleSetLineChartData(type) {
      this.type = type
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard-editor-container {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  position: relative;

  .github-corner {
    position: absolute;
    top: 0px;
    border: 0;
    right: 0;
  }

  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }
}

@media (max-width:1024px) {
  .chart-wrapper {
    padding: 8px;
  }
}
</style>
