<template>
  <el-dialog
    title="请选择你需要使用的模板"
    :visible.sync="visible"
    width="30%"
  >
    <el-button type="text" class="button" @click="init">建造施工阶段项目碳排放核算</el-button>
    <span slot="footer" class="dialog-footer">
      <el-button @click="close">取 消</el-button>
      <el-button type="primary" @click="close">确 定</el-button>
    </span>
  </el-dialog>
</template>
<script>
export default {
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      dialog: false
    }
  },
  methods: {
    close() {
      this.$emit('close')
    },
    init() {
      this.$emit('init')
    }
  }
}
</script>
<style lang="scss">

</style>
