<template>
  <div class="container">
    <sticky :z-index="10">
      <div :v-show="getStep().length > 0">
        <div class="base-info">
          <el-row :gutter="24">
            <el-col :md="2">
              <div class="total-caron">
                <p style="color: #1890ff;">总碳排放量</p>
                <p style="color: #1890ff; font-weight: 500;">{{ getCo2Sum() }}</p>
                <p style="color: #1890ff;">kgCo2</p>
              </div>
            </el-col>
            <el-col :md="22">
              <div class="steps">
                <el-steps :active="getStep().length" align-center>
                  <el-step v-for="(element,index) in getStep().titles" :key="index" :title="element.title" :description="element.sum+ ' kgCo2'" />
                </el-steps>
              </div>
            </el-col>
          </el-row>
        </div>
      </div>
      <el-button type="primary" @click.stop="centerDialogVisible = true">新建类别</el-button>
      <el-button type="primary" @click.stop="templateDialogVisible = true">
        使用模板
      </el-button>
    </sticky>
    <el-row v-for="(data, index) in tableData" :key="index" :gutter="16" class="panel-group">
      <el-col class="card-panel-col">
        <co2-fuels :row-index="index" :table-data="data.data" :title="data.title" />
      </el-col>
    </el-row>
    <co2-machine v-show="show" :table-data="machineData" title="主要燃油设备碳排放量计算" />

    <el-dialog
      title="提示"
      :visible.sync="centerDialogVisible"
      width="30%"
      center
    >
      <el-input v-model="title" placeholder="请输入类型标题" style="text-align: center;" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="centerDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="newco2table">确 定</el-button>
      </span>
    </el-dialog>
    <co2-template :visible="templateDialogVisible" @close="templateDialogVisible = false" @init="initTemplate" />
  </div>
</template>
<script>
import Sticky from '@/components/Sticky'
import Co2Fuels from '@/components/Co2Calc/fuels'
import Co2Machine from '@/components/Co2Calc/machine'
import Co2Template from './Co2Template'
import co2Type from '@/utils/co2type'

export default {
  components: { Sticky, Co2Fuels, Co2Template, Co2Machine },
  data() {
    return {
      show: false,
      title: '',
      machineData: [
        { name: '起重机', dieselco2e: 2.171, gasco2e: 2.031, sum: 0 },
        { name: '挖掘机', dieselco2e: 2.171, gasco2e: 2.031, sum: 0 },
        { name: '混凝土泵车', dieselco2e: 2.171, gasco2e: 2.031, sum: 0 },
        { name: '装载机', dieselco2e: 2.171, gasco2e: 2.031, sum: 0 }
      ],
      templateDialogVisible: false,
      centerDialogVisible: false,
      tableData: []
    }
  },
  methods: {
    newco2table() {
      this.centerDialogVisible = false
      this.tableData.push({ title: this.title, data: [] })
    },
    initTemplate() {
      this.templateDialogVisible = false
      this.tableData = co2Type.template
      this.show = true
    },
    getStep() {
      const _this = this
      const stepLength = this.tableData.length + (this.show ? 1 : 0)
      const titles = this.tableData.map(k => {
        return {
          title: k.title,
          sum: _this.getSum(k.data)
        }
      })
      if (this.show) {
        titles.push({
          title: '主要燃油设备碳排放量计算',
          sum: _this.getSum(this.machineData)
        })
      }
      return {
        length: stepLength,
        titles: titles
      }
    },

    getSum(datas) {
      return datas.filter(k => k.sum !== undefined).reduce((acc, current) => current.sum + acc, 0).toFixed(2)
    },
    getCo2Sum() {
      const sum = this.tableData.map(k => k.data.reduce((acc, current) => current.sum + acc, 0)).reduce((acc, current) => current + acc, 0)
      return (sum + parseFloat(this.getSum(this.machineData))).toFixed(2)
    }
  }
}
</script>
<style lang="scss">
.container {
  padding: 32px;
  .base-info {
    text-align: center;
    .total-carbon {
      color: #1890ff;
      border-radius: 8px 0 0 8px;
    }
  }
}

.panel-group {
  margin-top: 8px;

  .card-panel-col {
    margin-bottom: 16px;
  }

  .card-panel {
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .05);

    &:hover {
      .card-panel-icon-wrapper {
        color: #fff;
      }

      .icon-flash {
        background: orange;
      }

      .icon-message {
        background: #36a3f7;
      }

      .icon-money {
        background: #f4516c;
      }

      .icon-shopping {
        background: #34bfa3
      }
    }

    .icon-flash {
      color: orange;
    }

    .icon-message {
      color: #36a3f7;
    }

    .icon-money {
      color: #f4516c;
    }

    .icon-shopping {
      color: #34bfa3
    }

    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
    }

    .card-panel-icon {
      float: left;
      font-size: 48px;
    }

    .card-panel-description {
      float: right;
      font-weight: bold;
      margin: 26px;
      margin-left: 0px;

      .card-panel-text {
        line-height: 18px;
        color: rgba(0, 0, 0, 0.45);
        font-size: 16px;
        margin-bottom: 12px;
      }

      .card-panel-num {
        font-size: 20px;
      }
    }
  }
}
</style>
